/* this code is to provide depth to portfolio
*/
body {
    background-color: white; 
    }
    .content {background-color: skyblue;}
    h1 {
    color: #363636;
    }
    
    h2 {
        background-color: skyblue;
    font-style: italic;
    border-bottom: 3px solid #000000; 
    }
    ul {
    list-style-type: square; 
    }
